<h1>carros</h1>
<strong>Placa:</strong> <%= @car.placa %>
<br>
<strong>Color:</strong> <%= @car.color %>
<br>
<%= image_tag(@car.avatar_url) if @car.avatar? %>
<br>
<%= link_to "Volver", cars_path %>  
