<h1>usuarios</h1>
<strong>identificacion:</strong> <%= @User.identificacion %>
<br>
<strong>nombre:</strong> <%= @User.nombre %>
<br>
<strong>apellido:</strong> <%= @User.apellido %>
<br>
<%= link_to "Volver", users_path %>  